argcomplete==3.2.2
asciidoc @ file:///builddir/build/BUILD/asciidoc-py-10.2.0
asgiref==3.11.1
attrs==23.2.0
Brlapi==0.8.5
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.2
cockpit @ file:///builddir/build/BUILD/cockpit-356.2/tmp/wheel/cockpit-356.2-py3-none-any.whl#sha256=ab43df8a33cde74e5857706561e64dd4a2a720bf0a28a7f48ef5fd8888986766
cryptography==49.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
dj-database-url==3.1.2
Django==6.0.7
django-allauth==65.18.0
dnf==4.20.0
file-magic==0.4.0
gunicorn==26.0.0
idna==3.7
iniparse==0.5
insights-core==3.7.6
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
libcomps==0.1.21
libdnf==0.73.1
louis==3.28.0
lxml==5.2.1
mod_wsgi==5.0.0
nftables==0.1
oauthlib==3.3.1
packaging==24.2
perf==0.1
pexpect==4.9.0
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
ptyprocess==0.7.0
pycairo==1.25.1
pycparser==3.0
pycups==2.0.1
PyGObject==3.46.0
pyinotify==0.9.6
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-linux-procfs==0.7.4
python-pam==2.0.2
python3-openid==3.2.0
pyudev==0.24.1
PyYAML==6.0.1
pyynl @ file:///builddir/build/BUILD/kernel-6.12.0-211.31.1.el10_2/linux-6.12.0-211.31.1.el10_2.x86_64/tools/net/ynl
referencing==0.31.1
requests==2.34.2
requests-oauthlib==2.0.0
rpds-py==0.17.1
rpm==4.19.1.1
selinux @ file:///builddir/build/BUILD/libselinux-3.10/src
sepolicy @ file:///builddir/build/BUILD/selinux-3.10/python/sepolicy
setools==4.6.0
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35/src
setuptools==69.0.3
six==1.16.0
social-auth-app-django==6.0.0
social-auth-core==5.0.2
sos==4.11.0
sqlparse==0.5.5
subscription-manager==1.30.12
systemd-python==235
typing_extensions==4.16.0
urllib3==1.26.19
whitenoise==6.12.0
