{% extends "base.html" %}


{% block title %}
プロフィール
{% endblock %}
{% if profile.icon %}
    <img src="{{ profile.icon.url }}" width="120" height="120">
{% else %}
    <p>アイコン未設定</p>
{% endif %}

{% if request.user == profile.user %}
    <p>
        <a href="{% url 'accounts:edit_profile' %}">プロフィール編集</a>
    </p>
{% endif %}

{% block content %}

<h1>{{ profile_user.username }}</h1>


{% if profile.icon %}
<img src="{{ profile.icon.url }}" width="150">
{% else %}
<p>アイコン未設定</p>
{% endif %}


<h2>自己紹介</h2>

<p>
{{ profile.bio|default:"自己紹介はありません" }}
</p>


<hr>


<h2>投稿一覧</h2>

{% for post in posts %}
<a href="{% url 'posts:create' %}">投稿する</a>
<div style="border:1px solid #ccc;padding:10px;margin-bottom:10px;">

<h3>{{ post.title }}</h3>

<p>{{ post.content }}</p>

<p>
投稿日：
{{ post.created_at }}
</p>

{% if request.user == profile_user %}
<p>
    <a href="{% url 'accounts:edit_profile' %}">プロフィール編集</a>
</p>
{% endif %}

</div>


{% empty %}

<p>投稿はありません</p>

{% endfor %}
{% endblock %}
